* {
  margin: 0;
  padding: 0;
}
div {
  width: 420px;
}
p {
  float: left;
  width: 420px;
}
.pink {
  background-color: pink;
  color: lightgreen;
  font-weight: bold;
  font-size: 25px;
  height: 40px;
  width: 200px;
}
.bl {
  background-color: aqua;
  height: 40px;
  width: 420px;
}
.or {
  background-color: orange;
  height: 200px;
  width: 420px;
}
span {
  color: red;
  font-style: italic;
}
