div {
  width: 470px;
  height: 240px;
  background-color: beige;
}
div > span:nth-child(1) {
  color: orange;
  font-weight: bold;
}
div > span:nth-child(2) {
  color: greenyellow;
}
div > span:nth-child(3) {
  color: blue;
  font-style: italic;
}
div > span:nth-child(4) {
  color: blueviolet;
  font-weight: bold;
}
